{% extends "/layout/layout.twig" %}
{% block title %} {{parent()}} - Modification mot de passe{% endblock title %}
{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Modification de votre mot de passe</h4></li>
                </ul>
                <div class="alert alert-success text-center">Votre mot de passe a été modifier avec succès<a class="close" data-dismiss="alert" href="#">&times;</a></div>
           </div>
        </div>  
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
{% endblock content %}