{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Slider{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
               
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Gestion Slider</h4></li>
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Commerçant<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/produit/produit">Gestion des produits</a></li>
                            <li><a href="/annonce/annonce">Gestion des annonces</a</li>
                            <li><a href="/produit/produit/slider">Gestion Slider</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="/statistique/Statistique/statcomm">Statistique</a></li> 
                    {%if (commercant.paiement == 0) and (commercant.dempaiement == 0) %}
                    <li class="pull-right"><a href="/paiement/paiement/DemActivePay/{{getsessionhelper()['id']}}">Demande activation de paiement</a></li> 
                    {%elseif commercant.paiement == 0 %}
                    <li class="pull-right"><a href="" class="text-error">Demande d'activation en cour de traitement</a></li> 
                    {%else %}    
                    <li class="pull-right"><a href="#">Gestion Paiement</a></li> 
                    {%endif%}  
                </ul>
                
                    <form action="/produit/produit/Insertslider" method="POST" class="form-horizontal offset2" enctype="multipart/form-data">
                    <fieldset>
           
                              {#---Photo---#}
                            <div class="control-group">
                                <label class="control-label" for="userfile" >Photo <span class="required">*</span></label>
                                <div class="controls">
                                    <input type="file" name="userfile" size="20" required="required"/>
                                </div>
                            </div>
                        
                            {#---Valider---#}
                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Valider" class="btn btn-info">
                                    <input type="reset" value="Annuler" class="btn btn-info">
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}

{% block js %} 
    {#---js catégorie---#}
    <script type="text/javascript" src="{{base_url()}}assets/js/categorie.js"></script>
 {% endblock js %} 
