{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Echec{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                   <ul class="nav nav-pills border">
                        <li class="pull-left"><h4>Gestion des produits</h4></li>
                        <li class="pull-right"><a href="/annonce/annonce">Gestion des annonces</a></li>
                        <li class="pull-right"><a href="/produit/produit">Gestion des produits</a></li> 
                        <li class="pull-right"><a href="/produit/produit/slider">Gestion Slider</a></li> 
                    </ul>
                       <div class="alert alert-success text-center">{{ msg }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
                     </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}