<html>
<body>
<form name="nzomyform" action="https://www.smt-sps.com.tn/paiement/" method="post" class="hidden">
   <input name="Reference" type="hidden" value="{{refcmd}}">   
   <input name="Montant" type="hidden" value="{{montant}}">    
   <input name="Devise" type="hidden" value="TND">   
   <input type="hidden" name="sid" value="{{idsess}}">    
   <input type="hidden" name="affilie" value="{{affilCmd}}">    
</form>
<script>
document.nzomyform.submit();
</script>
</body>
</html>