{% extends "/layout/layout.twig" %}

{% block title %} {{parent()}} - Pannier{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h4>Adresse de livraison </h4></li>
                </ul>
                
                    <form action="/paiement/paiement/saveCmd" method="POST">
                    
                        <div class="control-group">
                            <p>Les frais de livraison seront payés lors de livraison a l'adresse déja spécifiée</p>
                            </div>
                 
                        <div class="control-group pull-right">
                            <div class="controls">
                                <button type="submit" name="submit" class="btn"><i class="icon-refresh"></i> Payer</button>
                            </div>
                        </div>
                    
                </form>
             
           </div>
        </div>
         
    </div>
    {% block partenaires %} {{parent()}} {% endblock partenaires %}
    {% endblock content %}
