{% extends "/layout/admin-layout.twig" %}

{% block title %} {{parent()}} - Espace Administrateur{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well" style="min-height: 585px">
            <div class="row-fluid">
                <ul class="nav nav-pills border">
                    <li class="pull-left"><h3>Espace Administrateur</h3></li>
                </ul>
                    <ul class="nav nav-pills" style="border-bottom: 1px solid #cccccc">
                        <li class="pull-left"><h4>Avis signalés</h4></li>
                   </ul>
                    <div>
                    {%for var in req%}
                       <div class="alert alert-success">
                            <a href="/admin/admin/deleteAvis/{{var.idcommentaire}}" class="close" data-dismiss="alert">&times;</a>  
                             <p>{{var.contenu}} <p>
                          </div>  
                            {%endfor%}
                    
                    
                    
                   </div>
             </div>       
        </div>
   </div>
    {% endblock content %}